/* styles.css */

/* Color scheme */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f4f4f4;
    --text-color: #333;
    --button-hover-color: #0056b3;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/lib/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.project h1 {
    font-size: 36px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.project img {
    width: 100px;
    height: 100px;
}

.card-header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-control {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .form-control:focus {
        border-color: var(--primary-color);
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

.btn-primary {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn-primary:hover {
        background-color: var(--button-hover-color);
    }

.text-danger {
    color: #dc3545;
    font-size: 14px;
}

.mt-3 {
    margin-top: 20px;
}

.role-label {
    margin-bottom: 10px;
}

.role-radio {
    margin-right: 10px;
}

.navbar {
    background-color: var(--background-color);
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    color: var(--primary-color);
}

.container-fluid {
    padding-top: 20px;
}

section {
    margin-bottom: 30px;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 8px;
}

h2 {
    margin-bottom: 20px;
    color: var(--primary-color);
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: var(--background-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}
